<footer class="footer mt-auto py-3">
    <div class="container">
        <p class="text-muted text-center">Built by the <a href="https://github.com/defencedigital">Defence Digital Service</a></p>
        <p class="text-muted text-center">All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license" class="govuk-link">Open Government Licence v3.0</a>, except where otherwise stated.</p>
        <p class="text-muted text-center"><a class="govuk-link" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a></p>
    </div>
</footer>