{% load static %}

/* General */
html {
    font-family: 'Noto Sans', sans-serif;
    position: relative;
    min-height: 100%;
}

body {

}

main > .container, .container-fluid {
    padding: 3rem 2rem;
    width: auto;
}

.footer {
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer > .container {
    padding-top: 1rem;
}

/* Colors */

.mod-bright-purple {
    background-color: #AB92E1;
}

.mod-light-grey {
    background-color: #C9D0D7;
}

.mod-bright-blue {
    background-color: #1FB3E5;
}

.mod-bright-green {
    background-color: #2DD573;
}

.mod-bright-yellow {
    background-color: #FDC20B;
}

.mod-bright-orange {
    background-color: #FF8200;
}

.mod-bright-pink {
    background-color: #EC86D0;
}

/* Project overview */

.kanban-list-column {
    padding-top: 1rem;
}

.kanban-list {

}

.project-badge {
    margin-left: 1rem;
}

/* Project detail */